body {
    background-color: #000;
    font-family: var(--font-dm-sans);
    height: 100vh;
}

.sidebar {
    position: fixed; 
    left: 0;
    bottom: 0;
    padding: 0.75rem;
    width: 30%;
}

.sidebar__navegation {
    background-color: var(--dark-gray);
    border-radius: 0.5rem;
    padding: 1rem 0 0 1rem;
}

.sidebar__navegation .logo {
    background-color: var(--dark-gray);
    display: flex;
    border-radius: 0.5rem;
    padding: 1rem 0 0 1rem;
}

.logo img {
    width: 5rem;
}

.sidebar nav ul {
    margin-top:  1.25rem;
    padding: 0  1.25rem 0.625rem  1.25rem;
}

.sidebar ul li {
    padding: 0.625rem 0;
}

.sidebar nav ul li a{
    color: var(--light-gray);
    text-decoration: none;
    font-weight: 600;
    font-size: 0.875rem;
}

.sidebar nav ul li .fa {
    font-size: 1.25rem; 
    margin-right: 0.625rem; 
    font-weight: 300;
}

.sidebar nav ul li a:hover {
    color: var(--branco);
}

.library {
   background-color: var(--dark-gray);
   border-radius: 0.5rem;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   padding: 0.25rem 0.5rem;
   color: var(--light-gray);
   font-weight: 600;
   font-size: 0.875rem;
   margin-top: 0.625rem;
}

.library .library__content {
   display: flex;
   justify-content: space-between;
}

.library .library__button {
   display: flex;
   margin-right: 0.625rem;
   color: var(--light-gray);
   background-color: transparent;
   border: 0px;
   font-size: 0.8rem;
   font-weight: 700;
   text-align: center;
   text-decoration: none;
   text-transform: none;
   padding:  1.25rem 0.625rem;
   box-sizing: border-box;
}

.library .library__button .fa{
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--light-gray);
    margin-right: 0.625rem;
    padding-right:0.5rem;
}

.library .library__content .fa-plus{
    margin: 1.5rem 0.625rem;
}

.section-playlist {
    display: flex;
    align-items: flex-start;/*posiciona no canto superior*/
    justify-content: space-between;
    gap:  1.25rem;
    background-color: #242424;
    color: var(--light-gray);
    font-weight: 600;
    font-size: 0.875rem;
    margin: 0.5rem 0;
    padding: 1rem  1.25rem;
    border-radius: 0.625rem;
}

.section-playlist .section-playlist__content{
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text {
    padding-bottom: 0.875rem;
    color: var(--branco);
}

.section-playlist__content .title {
    font-weight: 700;
}

.section-playlist__content .subtitle {
    font-weight: 500;
    font-size:  0.8rem;
}

.section-playlist__content .section-playlist__button {
    display: flex;
    justify-content: center;
    background-color: var(--white);
    color: #000;
    border-radius:  1.25rem;
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 0.625rem;
    margin-top: 0.8rem;
    border: 0px;
    width: 113px;
    cursor: pointer;
}

.sidebar .cookies {
    margin: 25px  1.25rem;
}

.sidebar .cookies a{
    color: var(--light-gray);
    font-weight: 500;
    font-size: 0.625rem;
    text-decoration: none;
}

.sidebar .cokiees a:hover {
    text-decoration: underline; /*sublinhado qunado passamos o mouse*/
}

.sidebar .languages__button {
    background-color: transparent;
    border: 1px solid #878787;
    color: var(--white);
    cursor: pointer;
    font-weight: bold;
    width: 10.6rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius:  1.25rem;
}

.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
}

.footer .footer__content{
    color: var(--white);
    flex-shrink: 0
}

.footer .footer__title{
    margin-bottom: 0.625rem;
    font-weight: 400;
    font-size:  0.8rem;
}

.footer .footer__text{
    font-weight: 500;
    font-size: 0.875rem;
}

.footer .footer__button {
    background-color:var(--white);
    color: #000;
    font-size: 1rem;
    border-radius: 40px;
    border: 0px;
    padding: 0.5rem  1.25rem;
    font-weight: 700;
    flex-shrink: 0;
    cursor: pointer;
}