:root {
    /*FONTE*/
    --font-dm-sans: "DM Sans", sans-serif;
    /*CORES*/
    --white: #fff;
    --dark-gray: #121212;
    --light-gray: #b3b3b3;
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0, 0, 07)
}